.intro {
  background: var(--color-theme-highlight-block);

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);
    text-align: center;

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    text-align: center;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 20ex;
    }
  }
}
