
{% block head %}
  <style>
    .bestof {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(24.5rem, 1fr));
      grid-template-columns: repeat(auto-fill, minmax(20.5rem, 1fr));
      grid-gap: 2.5rem 2rem;
      margin-left: 0;
    }

    h2 {
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
    }
  </style>
{% endblock %}


<section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
  <div class="[ wrapper ] [ sf-flow ]">
    <ol class="bestof">
{% for post in bestPosts %}
      <li>
          <a href={{ post.url }} class="post-list__link">
          <div>
              <img width="500" height="auto" style="" src="{{ post.data.image_small }}" alt=" {{ post.data.image_alt }}" style/>
              <h2>{{ post.data.title }}</h2>
          </a>
      </li>
{% endfor %}
    </ol>
  </div>
</section>