
{% block head %}
  <style>
    .bestof {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(24.5rem, 1fr));
      grid-gap: 2.5rem 2rem;
      margin-left: 0;
    }

    h4 {
      font-size: 1.5rem;
      text-align: center;
    }
  </style>
{% endblock %}


<section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
  <div class="[ wrapper ] [ sf-flow ]">
    <ol class="bestof">
{% for post in bestPosts %}
      <li>
          <a href={{ post.url }} class="post-list__link">
              <img style="aspect-ratio:0.668;width:500;height:334" src="{{ post.data.image_small }}" alt=" {{ post.data.image_alt }}" style/>
              <h4>{{ post.data.title }}</h4>
          </a>
      </li>
{% endfor %}
    </ol>
  </div>
</section>