<div style='margin: 8px 0; clear: both;'>
  <div id="" style="border-color:#dddad1;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;">
    <div style="background-color:#f7f4eb;border-color:#ffffff;color:#333333;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;padding:12px">
      <span style=&#8221;font-size: 10pt;&#8221;>
        Just so you know, if you click on a product on PurplyPacifier.com and decide to buy it, we may earn a small commission.
      </span>
    </div>
  </div>
</div>