<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex space-between align-start ]">
      <div>
      </div>
      <div>
      </div>
    </div>
    {% if site.showThemeCredit %}
      <p class="[ site-foot__credit ] [ pad-top-900 ]">
        © 2020 - PurplyPacifier | All rights reserved. <a href="/pages/disclaimer">Disclaimer</a> and <a href="/pages/privacy">Privacy</a>.
         Feel free to <a href="mailto:purplypacifier@gmail.com" target="_blank">contact us</a>.
        <br>
        Affiliate disclosure: As an Amazon Associate, we may earn commissions from qualifying purchases from Amazon.com.
      </p>
    {% endif %}
  </div>
</footer>
